<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTfInqQFjB1UxKavF4pCedy_vBtxKR824</string>
	<key>GCM_SENDER_ID</key>
	<string>977282208119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.themihabyte.vocabularybuilder</string>
	<key>PROJECT_ID</key>
	<string>vocabricks</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabricks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977282208119:ios:2b83709a4a8619c262d172</string>
	<key>DATABASE_URL</key>
	<string>https://vocabricks-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>